* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-main: #16151d;
    --bg-hover: #1e1e1e;
    --bg-secondary: #1f1f1f;
    --text-secondary: #9d9d9d;
    --bg-spotify: #1ed760;
    --bg-spotify-hover: #3be276;
}

header {
    background-color: black;

    .title {
        color: var(--bg-spotify);
        text-decoration: none;
        font-size: 2rem;
        font-weight: 700;
    }

    .add-btn {
        background-color: var(--bg-spotify);
        height: 2rem;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #000;
    }

    .add-btn:hover {
        background-color: var(--bg-spotify-hover);
        transform: scale(1);
    }
}

main {
    background-color: var(--bg-main);
}

.card {
    background-color: var(--bg-main);
    border: 0;
}

.card:hover {
    background-color: var(--bg-hover);
}

.text-secondary {
    color: var(--text-secondary);
}

.album-cover {
    position: relative;
    width: 90%;
    margin: auto;
    aspect-ratio: 1 / 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    cursor: pointer;
}

.album-cover:hover .play-btn {
    opacity: 1;
    transform: scale(1);
}

.card_body {
    flex-grow: 1;
}

.play-btn {
    z-index: 100;
    height: 25%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: var(--bg-spotify);
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 1rem 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.play-btn:hover {
    background-color: var(--bg-spotify-hover);
}